/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3 {
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Header Section */
  header {
    background-color: #003366;
    color: white;
    padding: 20px 0;
  }
  
  header h1 {
    display: inline;
    font-size: 34px;
    color: yellow;
  }
  
  nav ul {
    list-style: none;
    display: inline;
    float: right;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Content Section */
  section.content {
    padding: 50px 0;
  }
  
  .content h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .package-list {
    display: flex;
    justify-content: space-around;
  }
  
  .package-item {
    background-color: #ffffff;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Form Styles */
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #004080;
  }
  
  /* Footer Section */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  footer a {
    color: #ff6600;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  .about{
    margin: 5%;
  }